.btn-light {
    background-color: #eee;
    border-color: #eee;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 15px;
}

:root>* {
    --md-primary-fg-color: #22b573;
    --md-primary-fg-color--light: #7ac943;
    --md-primary-fg-color--dark: #008447;
    --md-code-hl-color: hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
    --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
    --md-code-hl-function-color: hsla(291, 45%, 50%, 1);
    --md-code-hl-constant-color: #fc7417;
    --md-code-hl-keyword-color: #fc7417;
    --md-code-hl-string-color: #22b573;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

.md-nav__title:nth-of-type(1) {
    display: none;
}

.md-typeset table:not([class]) th {
    border-bottom: .05rem solid var(--md-typeset-table-color);
    border-right: .05rem solid var(--md-typeset-table-color);
}

.md-typeset table:not([class]) td {
    border-top: 0px solid var(--md-typeset-table-color);
    border-right: .05rem solid var(--md-typeset-table-color);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}